<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="4.1.3" package="com.companyname.insulinsensitivity" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<!-- https://stackoverflow.com/questions/33169618/an-android-app-remembers-its-data-after-uninstall-and-reinstall -->
	<application android:label="InsulinSensitivity.Android" android:theme="@style/MainTheme" android:icon="@drawable/icon" android:allowBackup="false" android:fullBackupOnly="false" android:hasFragileUserData="true" android:requestLegacyExternalStorage="true"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>